<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>
    <main>
        <% if(locals.category){%>
            <h2 class="category-title"><%= category.toUpperCase() %></h2>
        <%} %>
        <section class="products-section">
            <% products.forEach(prod => { %>
                <a href="/products/details/<%= prod.id %>" class="product-link">
                    <article class="product">
                        <img src="/images/<%= prod.image %>" alt="<%= prod.name %>">
                        <h2 class="product-name"><%= prod.name %></h2>
                        <p class="product-price">$<%= prod.price %></p>
                    </article>
                </a>
            <% }) %>
        </section>
    </main>
    
    
    
    <%- include("./partials/footer") %>
</body>
</html>
